---
layout: layouts/base.njk
title: DevOps Manaus — Comunidade
---

{% include "components/hero.njk" %}
{% include "components/about.njk" %}
{% include "components/services.njk" %}
{% include "components/partners.njk" %}
{% include "components/community.njk" %}
{% include "components/benefits.njk" %}
{% include "components/faq.njk" %}
{% include "components/lead.njk" %}
